* {
  box-sizing: border-box;
  margin: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 107%);
  height: 100vh;
}

.letter-calculate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.calculate-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.input-number-for {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.input-con {
  color: #ffffff;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #e4e7eb;
  border-radius: 4px;
  margin-top: 8px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  outline: none;
}

.letter-container {
  align-self: center;
  color: #219a6f;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 32px;
  padding: 18px;
  padding-right: 24px;
  padding-left: 24px;
}

.image-con {
  width: 20%;
  order: 0;
  flex-direction: column;
  align-items: flex-end;
}
